{% extends 'base.html.twig' %}

{% block title %} Home | {{ parent() }} {% endblock %}

{% block body %}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-center">
            <th>Fichiers</th>
            <th>Titre</th>
            <th>Description</th>
        </thead>
        <tbody class="text-center">
        {% for file in files %}
            <tr>
                <td>
                    {% if file.attach %}
                    <a href="{{ asset('uploads/attachments/' ~ file.attach) }}" target="_blank" title="Voir ce fichier"> 
                        <i class="fas fa-file-alt"></i> 
                    </a>
                    {% else %}
                    Vide
                    {% endif %}
                </td>
                <td>{{ file.title }}</td>
                <td>
                    {% if file.description %}
                    {{ (file.description|raw)|length > 100 ? (file.description|slice(0, 100) ~ '...')|raw : file.description|raw }}
                    {% else %}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3"> Pas de fichier trouvé ! </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="mt-2">
    <a href="{{ path('app_add_file') }}" class="btn btn-primary">Ajouter un fichier</a>
</div>
{% endblock %}
