<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %}Test symfony{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('asset/libs/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('asset/css/style.css') }}">
        <link href="{{ asset('fontawesome/css/all.min.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block class %}{% endblock %}">
        <div class="container mt-5">
        {% block flash %}
            {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success data-dismiss" role="alert">
                <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
                {{ flash_message|raw }}
            </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-info data-dismiss" role="alert">
                <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
                {{ flash_message|raw }}
            </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning data-dismiss" role="alert">
                <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
                {{ flash_message|raw }}
            </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger data-dismiss" role="alert">
                <a href="" class="close" data-dismiss="alert" aria-label="close">x</a>
                {{ flash_message|raw }}
            </div>
            {% endfor %}
        {% endblock %}
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('asset/libs/js/jquery-3.5.1.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('asset/libs/js/popper-1.16.0.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('asset/libs/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script type="text/javascript" src='{{asset("tinymce/js/tinymce/tinymce.min.js")}}'></script>
            <script>
                tinymce.init({
                    selector: '.wysiwyg',
                    theme: "modern",
                    height: 200,
                    menubar: false,
                    plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker toc",
                        "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                        "save table contextmenu directionality emoticons template paste textcolor importcss colorpicker textpattern codesample"
                    ],
                    toolbar: 'code | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist | link unlink | subscript superscript',
                    content_css: [
                        '{{asset("asset/css/style.css")}}']
                });
            </script>
        {% endblock %}
    </body>
</html>
