{% extends 'base.html.twig' %}

{% block title %} Ajouter un fichier | {{ parent() }} {% endblock %}

{% block body %}
<div>
    <h2 class="mb-4">Ajouter un fichier</h2>
    {{ form_start(form) }}
        <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.attachFile) }}
            {{ form_widget(form.attachFile) }}
        </div>
        <div class="form-group">
            {{ form_widget(form.status) }}
            {{ form_label(form.status) }}
        </div>
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
</div>
{% endblock %}
