{% extends 'base.html.twig' %}

{% block title %} Page d'erreur | {{ parent() }} {% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="content-body">
        <div class="misc-wrapper">
            </a>
            <div class="misc-inner p-2 p-sm-3">
                <div class="w-100 text-center">
                    <h2 class="mb-1">En maintenance 🛠</h2>
                    <p class="mb-3">Désolé pour la gêne occasionnée, mais nous effectuons actuellement une maintenance.</p>
                    <a class="btn btn-primary mb-1 btn-sm-block" href="{{ path('welcome') }}"> Retour </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}