{% extends 'base.html.twig' %}

{% block title %} Erreur d'accès à la page | {{ parent() }} {% endblock %}

{% block body %}
<div class="content-wrapper">
    <div class="content-body">
        <div class="misc-wrapper">
            <div class="misc-inner p-2 p-sm-3">
                <div class="w-100 text-center">
                    <h2 class="mb-1">Vous n'êtes pas autorisé! 🔐</h2>
                    <p class="mb-2">
                        Le site web Test Symfony utilise les informations d'identification du compte IUSR par défaut pour accéder aux pages web qu'il dessert.
                    </p>
                    <a class="btn btn-primary mb-1 btn-sm-block" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}