{% extends 'base.html.twig' %}

{% block title %} Page d'erreur introuvable {% endblock %}

{% block body %}
<div class="misc-wrapper">
    <div class="misc-inner p-2 p-sm-3">
        <div class="w-100 text-center">
            <h2 class="mb-1">Page non trouvée 🕵🏻‍</h2>
            <p class="mb-2">Oops! 😖 L'URL demandée est introuvable sur ce serveur.</p>
            <a class="btn btn-primary mb-2 btn-sm-block" href="{{ path('app_home') }}">Retour à la page d'accueil</a>
        </div>
    </div>
</div>  
{% endblock %}